---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
---

<div class="flex items-center gap-4 my-6">
  <Image src="/images/avatar.jpg" alt="My Avatar" class="w-24 lg:w-28 aspect-square rounded" width={98} height={98} />

  <div class="space-y-1.5 lg:space-y-2.5 -mt-1">
    <h1 class="text-3xl lg:text-4xl font-bold m-0">John C.</h1>

    <a href="mailto:thejohncaleb@outlook.com" class="text-sm inline-block no-underline">thejohncaleb@outlook.com</a>

    <div class="flex gap-2.5">
      <a href="https://github.com/thejohncaleb" title="GitHub" target="_blank">
        <Icon name="tabler:brand-github" />
      </a>

      <a href="https://x.com/thejohncaleb" title="Twitter" target="_blank">
        <Icon name="tabler:brand-twitter" />
      </a>

      <a href="https://linkedin.com/in/thejohncaleb" title="Linkedin" target="_blank">
        <Icon name="tabler:brand-linkedin" />
      </a>

      <a href="https://www.baeldung.com/author/johncaleb" title="Blog" target="_blank">
        <Icon name="tabler:pencil-code" />
      </a>
    </div>
  </div>
</div>
