---
import Layout from "@layouts/Layout.astro";
import SiteHeader from "@components/layout/SiteHeader.astro";
import ProjectPreviewListItem from "@components/items/ProjectPreviewListItem.astro";

import { getCollection } from "astro:content";
import H1 from "@components/mdx/H1.astro";
import MinimalArticleListItem from "@components/items/MinimalArticleListItem.astro";

const MAX_LATEST = 4;

const posts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

const publishedPosts = posts?.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())?.slice(0, MAX_LATEST);

const projects = (await getCollection("projects"))?.[0]?.data?.slice(0, MAX_LATEST);

const talks = (await getCollection("talks"))?.[0]?.data
  ?.sort((a, b) => b.date.valueOf() - a.date.valueOf());
---

<Layout title="John Caleb">
  <main class="container">
    <SiteHeader />

    <section id="about-me">
      <!-- prettier-ignore -->
      <p>
  Kon'nichiwa! I am John, a software engineer with years of experience in software development. Currently working at <a href="https://smartqix.com/" target="_blank" rel="noopener noreferrer">Smartqix LLC</a>, previously at <a href="https://tirith.tech/" target="_blank" rel="noopener noreferrer">Tirith Technology LLC</a>. I am constantly learning and very keen on crafting the type of software experience I'd like to use and you can fall in love with. I write <a href="/posts" rel="noopener noreferrer">here</a> from time to time.
</p>
    </section>

    <hr class="my-12" />

    <section id="projects">
      <H1>Featured projects</H1>

      <div class="mt-5 space-y-5">
        {projects.map((project) => <ProjectPreviewListItem project={project} />)}
      </div>

      <div class="flex w-full justify-end mt-10">
        <a href="/projects" class="text-sm">View all projects &rarr;</a>
      </div>
    </section>

    <section class="mt-6" id="posts">
      <H1>Latest posts</H1>

      <div class="mt-5 space-y-5">
        {publishedPosts.map((post) => <MinimalArticleListItem post={post} />)}
      </div>

      <div class="flex w-full justify-end mt-10">
        <a href="/posts" class="text-sm">View all posts &rarr;</a>
      </div>
    </section>

    <section id="talks" class="mt-12">
      <H1>Talks & Slides</H1>

      <div class="mt-5 space-y-5">
        {talks.map((talk) => (
          <div class="flex gap-2.5">
            <time datetime={talk.date.toISOString().split("T")[0]} class="text-secondary-outline">
              {new Date(talk.date).toLocaleDateString("en-GB")}
            </time>
            <a href={talk.url} class="post-title">{talk.title}</a>
          </div>
        ))}
      </div>

      <div class="flex w-full justify-end mt-10">
        <a href="/talks" class="text-sm">View all talks and slides &rarr;</a>
      </div>
    </section>

  </main>
</Layout>
