---
import Layout from "@layouts/Layout.astro";
import SiteHeader from "@components/layout/SiteHeader.astro";
import ProjectPreviewListItem from "@components/items/ProjectPreviewListItem.astro";

import { getCollection } from "astro:content";
import H1 from "@components/mdx/H1.astro";
import MinimalArticleListItem from "@components/items/MinimalArticleListItem.astro";

const MAX_LATEST = 4;

const posts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});

const publishedPosts = posts?.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())?.slice(0, MAX_LATEST);

const projects = (await getCollection("projects"))?.[0]?.data?.slice(0, MAX_LATEST);
---

<Layout title="John Caleb">
  <main class="container">
    <SiteHeader />

    <section id="about-me">
      <!-- prettier-ignore -->
      <p>
        Kon'nichiwa! I am John, a software engineer with years of experience in software development. I am constantly learning and very keen on crafting the type of software experience I'd like to use and you can fall in love with. I write <a href="https://www.baeldung.com/author/johncaleb">here</a> from time to time.
      </p>
    </section>

    <hr class="my-12" />

    <section id="projects">
      <H1>Featured projects</H1>

      <div class="mt-5 space-y-5">
        {projects.map((project) => <ProjectPreviewListItem project={project} />)}
      </div>

      <div class="flex w-full justify-end mt-10">
        <a href="/projects" class="text-sm">View all projects &rarr;</a>
      </div>
    </section>

    <section class="mt-6" id="articles">
      <H1>Latest posts</H1>

      <div class="mt-5 space-y-5">
        {publishedPosts.map((post) => <MinimalArticleListItem post={post} />)}
      </div>

      <div class="flex w-full justify-end mt-10">
        <a href="https://www.baeldung.com/author/johncaleb#post-75829" class="text-sm">View all articles &rarr;</a>
      </div>
    </section>

    <section id="talks" class="mt-12">
      <H1>Talks & Slides</H1>
    <!-- TODO: modify to add slides dynamically -->
      
      <div class="mt-5 space-y-5">
        <div class="flex gap-2.5">
          <time datetime="14/02/2025" class="text-secondary-outline">
            04/04/2025
          </time>
        
          <a href="https://github.com/thejohncaleb/slides/blob/main/JAVASCRIPT-V1-BSG.pdf?raw=true" class="post-title">JavaScript for Beginners - BSG | RAIN 2025</a>
        </div>
      </div>    

     <div class="mt-5 space-y-5">
        <div class="flex gap-2.5">
          <time datetime="14/02/2025" class="text-secondary-outline">
            23/07/2025
          </time>
        
          <a href="https://www.canva.com/design/DAGp88YUROI/29ASt8PlN9bBe5vI3F8g3g/edit?utm_content=DAGp88YUROI&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" class="post-title">My Talk About Translag At IEEE Local Language Connect FUTMINNA 2025</a>
        </div>
      </div> 
      
      <div class="flex w-full justify-end mt-10">
        <a href="https://github.com/thejohncaleb/slides" class="text-sm">View all slides &rarr;</a>
      </div>
    </section>
    
  </main>
</Layout>
